{% extends 'layouts/base.html' %}
{% load static %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="margin-left:1rem;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content"  style="margin-left:1rem;">
      <div class="container-fluid">
        <div class="row">
          <iframe title="dashboard_2" width="100%" height="1080" src="https://app.powerbi.com/reportEmbed?reportId=2ab05af5-51ff-450b-b3d9-8171489a71bf&autoAuth=true&ctid=c52528b4-09d5-422b-bde4-32b5b0271115" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}

  {% block extra_scripts %}
  
    <!-- OPTIONAL SCRIPTS -->
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>
  
  {% endblock extra_scripts %}

