{% extends 'layouts/base.html' %}
{% load static %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="margin-left:1rem;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content"  style="margin-left:1rem;">
      <div class="container-fluid">
        <div class="row">
          <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="excelFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="excelFile" name="excel_file" required>
                    <label class="custom-file-label" for="excelFile">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!-- /.row -->
        <div class="row mt-4">
          <div class="col-12">
            <h3>Database Table</h3>
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Code UF</th>
                  <th>Libellé standard</th>
                  <th>Code ETB</th>
                  <th>Code POLE</th>
                  <th>Hébebergement</th>
                  <th>Type UF</th>
                  <th>Libellé Type UF</th>
                  <th>Type activité</th>
                  <th>Libellé activité</th>
                </tr>
              </thead>
              <tbody>
                {% for row in records %}
                <tr>
                  <td>{{ row.code_uf }}</td>
                  <td>{{ row.libelle_standard }}</td>
                  <td>{{ row.code_etb }}</td>
                  <td>{{ row.code_pole }}</td>
                  <td>{{ row.heb }}</td>
                  <td>{{ row.type_uf }}</td>
                  <td>{{ row.libelle_type_uf }}</td>
                  <td>{{ row.type_activite }}</td>
                  <td>{{ row.libelle_type_activite }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="17">No records found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
       
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}

  {% block extra_scripts %}
  
    <!-- OPTIONAL SCRIPTS -->
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>
  
  {% endblock extra_scripts %}

