{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block bodyclass %}sidebar-mini sidebar-collapse{% endblock %}

{% block sidebar %}
  <aside class="main-sidebar sidebar-light-primary elevation-1">
    <!-- Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'img/CHU_logo.svg' %}" alt="CHU Logo">
    </a>
    <div class="sidebar">
      <!-- user panel -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'img/avatar-medecin.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          {% if request.user.is_authenticated %}
            <a href="#" class="d-block">{{request.user.username}}</a>
          {% else %}
            <a href="#" class="d-block">Utilisateur</a>
          {% endif %}
        </div>
      </div>
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        {% include 'includes/menu-list.html' %}
      </nav>
    </div>
  </aside>
{% endblock %}

{% block content %}{{ block.super }}{% endblock %}

{% block extrahead %}
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  <script>
    // Enable sidebar mini/collapse toggle
    $(function() {
      $('.main-sidebar').on('dblclick', function() {
        $('body').toggleClass('sidebar-collapse');
      });
    });
  </script>
{% endblock %}
