<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if ufs.has_previous %}
      <li class="page-item">
        <a class="page-link uf-page-link" href="#" data-page="{{ ufs.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}
    {% for num in ufs.paginator.page_range %}
      {% if ufs.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% elif num > ufs.number|add:'-6' and num < ufs.number|add:'6' %}
        <li class="page-item">
          <a class="page-link uf-page-link" href="#" data-page="{{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if ufs.has_next %}
      <li class="page-item">
        <a class="page-link uf-page-link" href="#" data-page="{{ ufs.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
