{% load i18n static admin_adminlte %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

    {% admin_get_menu as app_list %}
    {% if app_list %}
    {% for app in app_list %}
    {% if app.has_perms and not app.pinned %}
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">


      {% if app.models %}
      <ul class="nav nav-treeview">
        {% for model in app.models %}
        {% if model.url %}
        <li class="nav-item">
          <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
            href="{{ model.url }}">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ model.label }}</p>
          </a>
        </li>
        {% else %}
        <li class="nav-item">{{ model.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}    
    <li class="nav-header">Analyse exploratoire</li>
      <!-- Dashboard -->
      <li class="nav-item">
        <a href="/" class="nav-link ">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Unité Fonctionnelle (UF)
          </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="/correlation-absences-lits" class="nav-link ">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Impact Absences - Lits
          </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="/statistiques/" class="nav-link ">
          <i class="nav-icon fas fa-chart-bar"></i>
          <p>
            Équipe Médicale (EM)
          </p>
        </a>
      </li>
           
      <li class="nav-item">
        <a href="/hebergement-hors-uf" class="nav-link ">
          <i class="nav-icon fas fa-home"></i>
          <p>
            Hébergements hors UF
          </p>
        </a>
      </li>

      <li class="nav-header">Plannification du besoin avec IA</li>
    <li class="nav-item">
      <a href="/predictions-lits" class="nav-link">
        <i class="nav-icon fas fa-eye"></i>
        <p>
          Besoin en Lits
        </p>
      </a>

      <a href="/predictions-charge-em" class="nav-link">
        <i class="nav-icon fas fa-eye"></i>
        <p>
          Charge par équipe Médicale
        </p>
      </a>
    </li>

    <li class="nav-header">Données</li>
    <!-- Table données -->
    <li class="nav-item">
      <a href="/table-data" class="nav-link ">
        <i class="nav-icon fas fa-database"></i>
        <p>
          Table des données
        </p>
      </a>
    </li>
    <!-- Upload File -->
    <li class="nav-item">
      <a href="{% url 'fileupload:upload' %}" class="nav-link">
        <i class="nav-icon fas fa-file-upload"></i>
        <p>
          Téléchargement de Fichier
        </p>
      </a>
    </li> 
    {% if request.user.is_authenticated and perms.auth.add_user %}
    <li class="nav-header">Gestion Utilisateurs</li>
    <li class="nav-item">
      <a href="/admin/auth/user" class="nav-link">
        <i class="fa fa-users nav-icon"></i>
        <p>Utilisateurs</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/auth/group" class="nav-link">
        <i class="fa fa-users nav-icon"></i>
        <p>Groupes & Permissions</p>
      </a>
    </li>
    {% endif %}
    <li class="nav-header">Authentification</li>
    {% if request.user.is_authenticated %}
    <li class="nav-item" style="margin-bottom: 30px;">
      <a href="{% url 'logout' %}" class="nav-link">
        <i class="fa fa-sign-out-alt nav-icon"></i>
        <p>Logout</p>
      </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a href="{% url 'login' %}" class="nav-link">
        <i class="fa fa-sign-in-alt nav-icon"></i>
        <p>Login</p>
      </a>
    </li>
    <li class="nav-item" style="margin-bottom: 30px;">
      <a href="{% url 'register' %}" class="nav-link">
        <i class="fa fa-user-plus nav-icon"></i>
        <p>Register</p>
      </a>
    </li>        
    {% endif %}
  </ul>