  {% load static %}
  <style>
    .navbar-expand{
    justify-content: center;
}
  </style>
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="height: 100px; background-color: white;">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="font-size: 25px;">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li> 
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'admin:password_change' %}" class="nav-link">Change Password</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'admin:logout' %}" class="nav-link">Logout</a>
          </li>
        {% else %}
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'password_change' %}" class="nav-link">Change Password</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
          </li>
        {% endif %}
      {% else %}
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'login' %}" class="nav-link">Sign In</a>
        </li>
      {% endif %}
    </ul>

    <!-- Right navbar links -->
    
  </nav>
  <!-- /.navbar -->